@{
    ViewData["Title"] = "Congreso UMG 2025";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/site.css" />

<!-- BANNER -->
<section class="hero text-white text-center d-flex align-items-center justify-content-center">
    <div class="container">
        <h1 class="display-4 fw-bold">XIII Congreso de Ingeniería en Sistemas</h1>
        <p class="lead hero-sub animate-hero">16 y 17 de mayo de 2025 | 30 Años de Innovación y Tecnología · Campus Cobán</p>

        <!-- Botón personalizado que abrirá el popup -->
        <button id="registroPopup" class="btn btn-lg btn-danger mt-3">Registrarse</button>
    </div>
</section>

<!-- ACERCA DEL EVENTO -->
<section class="py-5 bg-light" id="acerca">
    <div class="container">
        <h2 class="mb-4 text-primary animate-slide-up" align="center">Acerca del Evento</h2>
        <p>
            Este año conmemoramos <strong>30 años de excelencia académica</strong> en la carrera de Ingeniería en Sistemas en el Campus Cobán
            de la Universidad Mariano Gálvez. En este congreso reuniremos a estudiantes, docentes, profesionales y líderes del sector tecnológico
            para compartir conocimientos, experiencias y visiones de futuro.
        </p>
        <p>
            El evento contará con <strong>conferencias técnicas, talleres prácticos, charlas de innovación y espacios de networking</strong>
            con expertos. Es una oportunidad única para fortalecer tu perfil profesional, actualizarte sobre las
            últimas tendencias en tecnología y celebrar juntos esta trayectoria de impacto en la región.
        </p>
        <p> 
            El congreso se realizará en el <strong>Hotel Alcázar de Doña Victoria</strong>, un lugar emblemático ubicado en la ciudad de <strong>Cobán, Alta Verapaz</strong>, ideal para el encuentro de profesionales y estudiantes del sector tecnológico.
        </p>
    </div>
</section>

<!-- CONFERENCISTAS, CHARLAS Y TALLERES -->
<section class="py-5" id="conferencistas">
    <div class="container">
        <h2 class="mb-5 text-primary text-center animate-slide-up">Conferencistas | Charlas | Talleres</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

            <div class="col">
                <div class="card text-center border-0 shadow-sm h-100 pt-4">
                    <img src="~/images/Elvis-Batzibal.jpg" alt="Ing. Elvis Batzibal" class="card-img-circle mx-auto d-block mt-4 mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Ing. Elvis Batzibal</h5>
                        <p class="text-muted">DevOps Engineer Expert</p>
                        <p class="tema-charla">Del dato a la conversación: Asistente Web con IA en Python y .NET </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center border-0 shadow-sm h-100 pt-4">
                    <img src="~/images/yova-deleon.jpg" alt="Ing. Geovani de León" class="card-img-circle mx-auto d-block mt-4 mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Ing. Geovani de León</h5>
                        <p class="text-muted">Microsoft MVP | Cloud Solutions Architect | DevOps Engineer </p>
                        <p class="tema-charla">1. Del Código a la Nube: CI/CD con .NET, Github y Azure | 2. Tu Primera WebApp con Blazor WebAssembly y consumo de APIs </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center border-0 shadow-sm h-100 pt-4">
                    <img src="~/images/Hugo-Estrada.png" alt="Ing. Hugo Estrada" class="card-img-circle mx-auto d-block mt-4 mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Ing. Hugo Estrada</h5>
                        <p class="text-muted">Engineer Data Analyst</p>
                        <p class="tema-charla">Infraestructuras Escalables para Analítica</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center border-0 shadow-sm h-100 pt-4">
                    <img src="~/images/Kristo-Dubon.jpeg" alt="Ing. Kristo Dubón" class="card-img-circle mx-auto d-block mt-4 mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Ing. Kristo Dubón</h5>
                        <p class="text-muted">Developer Analyst</p>
                        <p class="tema-charla">Evolución Empresarial.NET: Construyendo el Futuro </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center border-0 shadow-sm h-100 pt-4">
                    <img src="~/images/Max-Caal2.jpg" alt="Ing. Max Caal" class="card-img-circle mx-auto d-block mt-4 mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Ing. Max Caal</h5>
                        <p class="text-muted">Infrastructure Architect Engineer</p>
                        <p class="tema-charla">Bóvedas Antiransomware: Arquitecturas para la protección de Datos</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center border-0 shadow-sm h-100 pt-4">
                    <img src="~/images/Jonathan-Hernandez2.jpg" alt="MSc. Mónica Villanueva" class="card-img-circle mx-auto d-block mt-4 mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Lcdo. Jonathan Hernández</h5>
                        <p class="text-muted">Lex Data | Ceo Founder</p>
                        <p class="tema-charla">Ciberseguridad y Aspectos Legales</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center border-0 shadow-sm h-100 pt-4">
                    <img src="~/images/Geison-Cab.jpg" alt="Ing. Geisón Cab" class="card-img-circle mx-auto d-block mt-4 mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Ing. Geison Cab</h5>
                        <p class="text-muted">Data Analyst </p>
                        <p class="tema-charla">Forecasting Empresarial con Machine Learning</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center border-0 shadow-sm h-100 pt-4">
                    <img src="~/images/Yesica-Catun.jpeg" alt="Lic. Yesica Cruz" class="card-img-circle mx-auto d-block mt-4 mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Yesica Cruz</h5>
                        <p class="text-muted">CERT - Threat intelligence Analyst</p>
                        <p class="tema-charla">Ciberseguridad y Amenazas: El desafío del Ingeniero en el Mundo Digital</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center border-0 shadow-sm h-100 pt-4">
                    <img src="~/images/Edgar-Lucas.jpg" alt="Ing. Edgar Lucas / Ing. Edgar Dueñas" class="card-img-circle mx-auto d-block mt-4 mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Ing. Edgar Lucas</h5>
                        <p class="text-muted">Infraestructure Engineer</p>
                        <p class="tema-charla">Taller de Introducción a la Nube e Implementación de una Aplicación Básica (4 Hrs.)</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center border-0 shadow-sm h-100 pt-4">
                    <img src="~/images/Luis-Barrientos.jpg" alt="Luis Barrientos" class="card-img-circle mx-auto d-block mt-4 mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Ing. Luis Barrientos</h5>
                        <p class="text-muted">Developer Analyst</p>
                        <p class="tema-charla">Lean UX | Diseñando Soluciones Digitales Centradas en las Personas</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center border-0 shadow-sm h-100 pt-4">
                    <img src="~/images/Luis-Rivas.jpg" alt="Ing. Luis Rivas" class="card-img-circle mx-auto d-block mt-4 mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Ing. Luis Rivas</h5>
                        <p class="text-muted">Director Informática IGA</p>
                        <p class="tema-charla">Mi Mochila Tech: Aprende, Juega y Crea un Portafolio que Hable por Ti</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center border-0 shadow-sm h-100 pt-4">
                    <img src="~/images/Priscila-Tres.jpg" alt="Inga. Priscila Tres" class="card-img-circle mx-auto d-block mt-4 mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Inga. Priscila Tres de Martinez</h5>
                        <p class="text-muted">Developer Software</p>
                        <p class="tema-charla">De estudiante a profesional: desafíos, aprendizajes y logros en Ingeniería en Sistemas</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center border-0 shadow-sm h-100 pt-4">
                    <img src="~/images/Luis-Tarot.jpg" alt="Ing. Luis Tarott" class="card-img-circle mx-auto d-block mt-4 mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Ing. Luis Tarott</h5>
                        <p class="text-muted">Senior Engineer Specialist en Intelligent Security Systems</p>
                        <p class="tema-charla">Inteligencia Artificial aplicada al video</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center border-0 shadow-sm h-100 pt-4">
                    <img src="~/images/Rodolfo-Martinez.jpg" alt="Ing. Rodolfo Martinez" class="card-img-circle mx-auto d-block mt-4 mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Ing. Rodolfo Martinez</h5>
                        <p class="text-muted">Developer Software</p>
                        <p class="tema-charla">Como construir un software sin un ejercito de Programadores (2 Hrs.)</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center border-0 shadow-sm h-100 pt-4">
                    <img src="~/images/jackeline-salazar.jpg" alt="Inga.Jackeline Salazar" class="card-img-circle mx-auto d-block mt-4 mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Inga. Jackeline Salazar</h5>
                        <p class="text-muted">Data Analyst</p>
                        <p class="tema-charla">Del Dato al Impacto: Aplicando Análisis de Datos con Python y Power BI</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center border-0 shadow-sm h-100 pt-4">
                    <img src="~/images/Ariel-Peinado.jpg" alt="Ariel Peinado" class="card-img-circle mx-auto d-block mt-4 mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Ariel Peinado</h5>
                        <p class="text-muted">Geo-Data Analyst</p>
                        <p class="tema-charla">Importancia de Herramientas especializadas en datos geospaciales</p>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</section>

<!-- AGENDA -->
<!-- AGENDA -->
<section class="py-5 bg-light" id="agenda">
    <div class="container">
        <h2 class="mb-4 text-primary animate-slide-up text-center">Agenda del Evento</h2>

        <div class="accordion" id="agendaAccordion">

            <!-- Viernes 16 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFriday">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFriday" aria-expanded="true" aria-controls="collapseFriday">
                        📅 Viernes 16 de mayo de 2025
                    </button>
                </h2>
                <div id="collapseFriday" class="accordion-collapse collapse show" aria-labelledby="headingFriday" data-bs-parent="#agendaAccordion">
                    <div class="accordion-body">
                        <div class="table-responsive">
                            <table class="table table-bordered align-middle text-center">
                                <thead class="table-primary">
                                    <tr>
                                        <th>Hora</th>
                                        <th>Salón</th>
                                        <th>Actividad</th>
                                        <th>Participación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>18:00 - 18:30</td><td>GENERAL</td><td>Registro y bienvenida</td><td>Todos</td></tr>
                                    <tr><td>18:30 - 19:00</td><td>GENERAL</td><td>Acto Protocolario</td><td>UMG</td></tr>
                                    <tr><td>19:00 - 20:00</td><td>GENERAL</td><td>Conversatorio: Ingeniería en Sistemas te cambia la vida</td><td>Ex-Alumnos</td></tr>
                                    <tr><td>20:00 - 21:00</td><td>GENERAL</td><td>Cena</td><td>Todos</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sábado 17 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSaturday">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSaturday" aria-expanded="false" aria-controls="collapseSaturday">
                        📅 Sábado 17 de mayo de 2025
                    </button>
                </h2>
                <div id="collapseSaturday" class="accordion-collapse collapse" aria-labelledby="headingSaturday" data-bs-parent="#agendaAccordion">
                    <div class="accordion-body">
                        <div class="table-responsive">
                            <table class="table table-bordered align-middle text-center">
                                <thead class="table-primary">
                                    <tr>
                                        <th>Horario</th>
                                        <th>Salón</th>
                                        <th>Conferencia / Actividad</th>
                                        <th>Expositor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>7:00 - 8:00</td><td>GENERAL</td><td>Registro y café de bienvenida</td><td>-</td></tr>
                                    <tr><td>8:00 - 9:00</td><td>SALÓN A</td><td>Del Código a la Nube: CI/CD con .NET, Github y Azure</td><td>Ing. Geovany de León</td></tr>
                                    <tr><td></td><td>SALÓN B</td><td>Forecasting Empresarial con Machine Learning</td><td>Geison Cab</td></tr>
                                    <tr><td></td><td>SALÓN C</td><td>Taller de Introducción a la Nube e Implementación de una Aplicación Básica (4 Hrs.)</td><td>Ing. Edgar Lucas / Dueñas</td></tr>
                                    <tr><td></td><td>GENERAL</td><td>Lean UX | Diseñando Soluciones Digitales Centradas en las Personas</td><td>Ing Luis Barrientos</td></tr>
                                    <tr><td>9:00 - 10:00</td><td>SALÓN A</td><td>Infraestructuras Escalables para Analítica</td><td>Hugo Estrada</td></tr>
                                    <tr><td></td><td>SALÓN B</td><td>Ciberseguridad y Amenazas: El desafío del Ingeniero en el Mundo Digital</td><td>Yesica Cruz</td></tr>
                                    <tr><td></td><td>GENERAL</td><td>Del dato a la conversación: Asistente Web con IA en Python y .NET</td><td>Ing. Elvis Batzibal</td></tr>
                                    <tr><td>10:00 - 10:30</td><td>PERGOLA</td><td>BREAK</td><td>-</td></tr>
                                    <tr><td>10:30 - 11:30</td><td>SALÓN A</td><td>Evolución Empresarial .NET: Construyendo el Futuro</td><td>Kristo Dubón</td></tr>
                                    <tr><td></td><td>SALÓN B</td><td>Bóvedas Antiransomware: Arquitecturas Resilientes para la Protección de Datos Críticos</td><td>Ing. Max Caal</td></tr>
                                    <tr><td></td><td>GENERAL</td><td>Tu Primera WebApp con Blazor WebAssembly y consumo de APIs (Workshop)</td><td>Ing. Geovany de León</td></tr>
                                    <tr><td>11:30 - 13:00</td><td>SALÓN A</td><td>Inteligencia Artificial aplicada al Video</td><td>Ing. Luis Tarott</td></tr>
                                    <tr><td></td><td>GENERAL</td><td>De estudiante a profesional: desafíos, aprendizajes y logros en Ingeniería en Sistemas </td><td>Inga. Priscila Tres</td></tr>
                                    <tr><td>12:30 - 14:00</td><td>GENERAL</td><td>Almuerzo</td><td>-</td></tr>
                                    <tr><td>14:00 - 15:00</td><td>SALÓN A</td><td>Análisis con Python y Power BI</td><td>Jaqueline Salazar</td></tr>
                                    <tr><td></td><td>SALÓN C</td><td>Como construir un software sin un ejercito de Programadores (2 Hrs.)</td><td>Ing. Rodolfo Martinez</td></tr>
                                    <tr><td></td><td>GENERAL</td><td>Ciberseguridad y Aspectos Legales</td><td>Jonathan Hernández</td></tr>
                                    <tr><td>15:00 - 16:00</td><td>SALÓN A</td><td>Importancia de Herramientas especializadas en datos geospaciales</td><td>Ariel Peinado</td></tr>
                                    <tr><td></td><td>SALÓN C</td><td>Como construir un software sin un ejercito de Programadores (2 Hrs.)</td><td>Ing. Rodolfo Martinez</td></tr>
                                    <tr><td></td><td>GENERAL</td><td>Mi Mochila Tech: Aprende, Juega y Crea un Portafolio que Hable por Ti</td><td>Ing. Luis Rivas</td></tr>
                                    <tr><td>16:00 - 16:30</td><td>GENERAL</td><td>Clausura y diplomas</td><td>-</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- UBICACIÓN DEL EVENTO -->
<section class="py-5" id="ubicacion">
    <div class="container text-center">
        <h2 class="mb-4 text-primary animate-slide-up">Ubicación del Evento</h2>
        <p class="lead">📍 <strong>Hotel Alcázar de Doña Victoria</strong><br>Ciudad de Cobán, Alta Verapaz</p>

        <div class="mb-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3873.2462438294267!2d-90.36917422394107!3d15.469196185058469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858a3c391d5b2f09%3A0xf6a37e9e90a62e79!2sHotel%20Alcazar%20de%20Do%C3%B1a%20Victoria!5e0!3m2!1ses-419!2sgt!4v1714426559145!5m2!1ses-419!2sgt"
                    width="100%"
                    height="350"
                    style="border:0; border-radius: 12px;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>

        <div class="d-flex justify-content-center gap-3 flex-wrap">
            <a href="https://waze.com/ul?ll=15.469196,-90.366969&navigate=yes" target="_blank" class="btn btn-dark">
                Abrir en Waze
            </a>
            <a href="https://www.google.com/maps/dir/?api=1&destination=Hotel+Alcazar+de+Doña+Victoria+Coban" target="_blank" class="btn btn-outline-primary">
                Abrir en Google Maps
            </a>
        </div>
    </div>
</section>



<!-- ENLACE INSTITUCIONAL -->
<section class="py-4 text-center">
    <div class="container">
        <a href="https://www.umg.edu.gt" class="btn btn-outline-dark" target="_blank">
            Más información sobre la Universidad Mariano Gálvez
        </a>
    </div>
</section>
<!-- SPONSORS CAROUSEL -->
<section class="py-5 bg-light" id="sponsors">
    <div class="container text-center">
        <h2 class="mb-4 text-primary animate-slide-up">Nuestros Patrocinadores</h2>
        <p class="mb-5 text-muted">Gracias a su apoyo, celebramos 30 años de innovación, educación y tecnología.</p>

        <div id="carouselSponsors" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="d-flex justify-content-center gap-5 flex-wrap">
                        <img src="~/images/sponsor1.png" class="sponsor-logo grayscale-hover" alt="Sponsor 1">
                        <img src="~/images/sponsor2.png" class="sponsor-logo grayscale-hover" alt="Sponsor 2">
                        <img src="~/images/sponsor3.jpg" class="sponsor-logo grayscale-hover" alt="Sponsor 3">
                        <img src="~/images/sponsor4.png" class="sponsor-logo grayscale-hover" alt="Sponsor 4">
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="d-flex justify-content-center gap-5 flex-wrap">
                        <img src="~/images/sponsor5.jpg" class="sponsor-logo grayscale-hover" alt="Sponsor 5">
                        <img src="~/images/Sponsor6.jpg" class="sponsor-logo grayscale-hover" alt="Sponsor 6">
                        <img src="~/images/sponsor7.png" class="sponsor-logo grayscale-hover" alt="Sponsor 7">
                        <img src="~/images/sponsor8.jpg" class="sponsor-logo grayscale-hover" alt="Sponsor 8">
                     </div>
                </div>

                <div class="carousel-item">
                    <div class="d-flex justify-content-center gap-5 flex-wrap">
                        <img src="~/images/Sponsor9.png" class="sponsor-logo grayscale-hover" alt="Sponsor 9">
                        <img src="~/images/sponsor10.png" class="sponsor-logo grayscale-hover" alt="Sponsor 10">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



